<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Test Task
  body
    section.container
      //- mixin item(name)   // не использовал миксины pug из-за проблем с импортом данных из json d pug
        div.item= name
      //- +item('1')
      //- +item('2')
      //- +item('3')
