<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Test Task
  body
    section.container
      - 
        const data = [
        {
          title: 'Lorem Ipsum 1',
          description: 'Dolor sit amet 1'  
        },
        {
          title: 'Lorem Ipsum 2',
          description: 'Dolor sit amet 2'  
        },
        {
          title: 'Lorem Ipsum 3',
          description: 'Dolor sit amet 3'  
        },
        {
          title: 'Lorem Ipsum 4',
          description: 'Dolor sit amet 4'  
        },
        {
          title: 'Lorem Ipsum 5',
          description: 'Dolor sit amet 5'  
        },
        {
          title: 'Lorem Ipsum 6',
          description: 'Dolor sit amet 6'  
        },
        {
          title: 'Lorem Ipsum 7',
          description: 'Dolor sit amet 7'  
        },
        {
          title: 'Lorem Ipsum 8',
          description: 'Dolor sit amet 8'  
        },
        {
          title: 'Lorem Ipsum 9',
          description: 'Dolor sit amet 9'  
        }
        ] 
      mixin item(card)
        .item
          h2= card.title
          p= card.description

      for card in data
        +item(card)
